#about {
    background-image: url('../img/thumb2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hireable li:not(:first-child):before {
  content: ", ";
}

.experience h4 {
    display: inline-block;
}

.experience {
    display: inline-block;
    background: #aaa;
}

.experience ul {
    list-style: none;
}

.hireable ul {
    list-style: none;
}

.hireable li {
    display: inline;
}


