#about {
    background-image: url('../img/thumb2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.job-experience {
}

.job-experience .experience:not(:last-child) {
    border-bottom: 1px solid black;
}


.experience h4 {
    display: block;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience li {
    display: inline-block;
}

.hireable li:not(:first-child):before {
  content: ", ";
}

.hireable ul {
    list-style: none;
}

.hireable li {
    display: inline;
}


