.background {
    background-image: url('../img/splash_texture_01.jpg'); background-size: cover;
    background-repeat: no-repeat;
}

#landing {
    height: 480px;
}

.display-1 {
    line-height: 0.8;
}

.navbar {
    background: rgba(255, 255, 255, 0.8);
}   

.nav-link:hover {
    text-decoration: underline;
}


.nav-item {
}

footer {
    background: rgba(255, 255, 255, 0.8);
}

#landing>div, #landing>p {
    background: rgba(255, 255, 255, 0.8);
}

#landing>p {
    text-align: right;
}

#landing>div>h3>a {
    background: #333;
}

#landing>h3>a:hover {
}

