/* 
Colors
https://color.hailpixel.com/#6685FF,8F9DD6,95D68F,C1D68F,D2B384,120C22,17333F,1D3F4E
*/

body {
    background-color: #8F9DD6;
    color: #120C22;
    font-family: 'Bree Serif', serif;
    padding: 0;
    width: 100%;
}

h1,h2,h3,h4 {
    font-family: 'Baloo Bhaijaan', cursive;
}

a {
    color: #17333F;
}

a:hover {
    color: #1D3F4E;
}

.navbar {
    background-color: #C1D68F;
    font-size: 1.2em;
}   

.nav-link:hover {
    text-decoration: underline;
    background-color: #D2B384;
}

footer {
    background-color: #C1D68F;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 24px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 24px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
}
