/* 
Colors
https://color.hailpixel.com/#6685FF,8F9DD6,95D68F,C1D68F,D2B384,120C22,17333F,1D3F4E
https://color.hailpixel.com/#EB6600,00B8AB,FFFF0F,FF1E00,001633,003775
*/

body {
    font-family: 'Bree Serif', serif;
    padding: 0;
    width: 100%;
}

h1,h2,h3,h4 {
    font-family: 'Baloo Bhaijaan', cursive;
}

a {
}

a:hover {
}

.navbar {
    font-size: 1.2em;
}   

.nav-link:hover {
    text-decoration: underline;
}

footer {
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 24px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 24px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
}
